<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> مشروع الملكية</title>
    <link href="image/favicon.png" rel="icon"/>


    <!-- bootstrap -->
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.2/css/dataTables.bootstrap5.min.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&family=Readex+Pro:wght@160..700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

</head>

<body>

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-12"></div>
            <div class="col-md-8 col-12 d-flex align-items-center">
                <div class="bg-white">
                    <div class="d-flex justify-content-center align-items-center"
                         style="background-color: #F8F5EF; padding: 50px;">
                        <img class="h-70" src="image/logo.png" alt="no-logo">
                    </div>
                    <div style="background-color: #F8F5EF; border-radius: 0;" class="shape"></div>
                    <div class="p-5 border border-top-0">
                        <h5 class="fs-24 mb-3" style="color: #25343E;">السلام عليكم ورحمة الله وبركاته،</h5>
                        <p class="fs-18 mb-4 lh-lg" style="color: #667178;">نود إعلامكم بأنه قد تم إضافتكم كموظف جديد
                            ضمن فريق إدارة العمليات الميدانية. يمكنكم الآن تسجيل الدخول إلى المنصة باستخدام الرابط
                            التالي:</p>
                        <div>
                            <a href="login.html" class="fs-14 fw-500 main-button mt-3 mb-3">تسجيل الدخول</a>
                        </div>
                        <h5 class="fs-18 mb-3" style="color: #25343E;">يرجى ملاحظة التالي</h5>
                        <ul>
                            <li class="fs-16 mb-3" style="color: #667178;">يمكنكم تغيير كلمة المرور عند تسجيل الدخول
                                لأول مرة لضمان الأمان.
                            </li>
                            <li class="fs-16 mb-3" style="color: #667178;">في حالة وجود أي استفسار، يمكنكم التواصل مع
                                قسم الدعم الفني عبر البريد الإلكتروني: [إدخال البريد الإلكتروني للدعم].
                            </li>
                        </ul>
                        <h5 class="fs-16 mb-5 mt-5" style="color: #25343E;">نتمنى لكم التوفيق في أداء مهامكم، ونسأل الله
                            أن يكتب لكم الأجر في خدمة ضيوف الرحمن.</h5>
                        <ul class="list-unstyled m-0 p-0">
                            <li class="fs-14" style="color: #667178;">مع تحيات،</li>
                            <li class="fs-14" style="color: #667178;">[اسم الجهة المسؤولة]</li>
                            <li class="fs-14" style="color: #667178;">فريق إدارة العمليات الميدانية</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-12"></div>
        </div>
    </div>
</div>


<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/all.min.js"></script>
<script src="js/jquery-1.10.1.min.js"></script>
<script src="https://cdn.datatables.net/2.1.2/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.1.2/js/dataTables.bootstrap5.min.js"></script>
<script src="js/main.js"></script>
<script src="js/plugin.js"></script>


</body>

</html>
